@import './scss/font-face.scss';
@import'./scss/normalize.scss';

// font-family: 'ReformaGroteskMediumC';
// font-family: 'ReformaGroteskDemiC';
// font-family: 'ReformaGroteskBoldC';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,p,span,a {
    font-size: 1.5rem;
    font-family: 'ReformaGroteskDemiC';
    color: #ffffff;
}

ul,li,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    display: inline-block;
    position: relative;
    background:none;
    width: 180px;
    height: 75px;
    cursor: pointer;
    font-family: 'ReformaGroteskDemiC';
    color:#ffffff;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    transition: all .5s ease 0s;
    z-index: 1;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 65%;
        height: 100%;
        background: #DB3138;
        z-index: -1;
        transition: all .5s ease 0s;
    }
    &:hover::before{
        width: 100%;
    }
}

body {
    background: #141414;
}

.container{
    max-width: 1558px;
    margin: 0 auto;
    padding: 0 15px;
}

// Для отрисовки кубиков
.page__element {
    display: flex;
    justify-content: center;
    align-items:center;
    & span {
        width: 10px;
        height: 10px;
        background: #DB3138;
        transform: rotate(-45deg);
        margin-left: 30px;
        &:first-child{
            margin-left: 0;
        }
    }
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    & span {
        display: block;
        width: 10px;
        height: 10px;
        background: #DB3138;
        transform: rotate(-45deg);
        margin-left: 30px;
        &:first-child{
            margin-left: 0px;
        }
    }
}

//  PRELOADER
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    z-index: 22;
    transition: all 1s ease 0s;
    opacity: 1;
    visibility:visible;

    &.done {
        opacity: 0;
        visibility: hidden;
    }

    .loader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & span {
            width: 20px;
            height: 20px;
            animation: 1.2s loader infinite linear;
        }
        & span:nth-child(2) {
            animation-delay: 1.3s;
        }
        & span:nth-child(3) {
            animation-delay: 1.4s;
        }
        & span:nth-child(4) {
            animation-delay: 1.5s;
        }
    }
}

@keyframes loader{
    0%,100%{
        transform: translateY(100%) rotate(-45deg);
    }
    50%{
        transform: translateX(0) rotate(-45deg);
    }
}

// Arrow for slider
.prev{
    min-width: 50px;
    min-height: 50px;
    border: 3px solid #DB3138;
    transform: rotate(-45deg);
    position: relative;
    cursor: pointer;
    & .prev__content img{
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
.next{
    min-width: 50px;
    min-height: 50px;
    border: 3px solid #DB3138;
    transform: rotate(-45deg);
    position: relative;
    cursor: pointer;
    & .next__content{
        position: absolute;
        top: 55%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}


// HEADER
.header{
    position: absolute;
    padding-top: 40px;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    height: 30px;
    width: 87%;
    @media (max-width:768px) {
        justify-content: flex-end;
    }
}

@media (max-width:768px) {
    body._lock{
        overflow: hidden;
    }
}

.header__menu {
    @media (max-width:768px) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #6D6D78;
            transition: top 0.5s ease 0s;
            overflow: auto;
            z-index: 2;
            &._active{
                top: 0;
            }
        }
    .header__list {
        display: flex;
        align-items: center;
        @media (max-width:768px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            background:#898989;
            width: 100vw;
            height: 100vh;
            z-index: 2;
            text-align: center;
            transition: top 1s ease 0s;
        }
        & li {
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
            & .header__link {
                font-family: 'ReformaGroteskMediumC';
                letter-spacing: 0.03em;
                transition: all 0.5s ease 0s;
                &:hover {
                    color: #DB3138;
                }
            }
            @media (max-width:768px) {
                margin: 0 0 40px 0;
                & .header__link {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

.menu__user {
    z-index: 3;
    .menu__icon {
            display: block;
            position: relative;
            cursor: pointer;
            width: 50px;
            height: 25px;
        & span{
            position: absolute;
            height: 3px;
            width: 100%;
            background:#DB3138;
            transition: all 0.3s ease 0s;
            top: 50%;
            left: 0;
            transform: translateX(-10px) scale(1) translate(0px, -50%);
            transition: all 0.3s ease 0s;
        }
        &::after,
        &::before{
            position: absolute;
            content: '';
            height: 3px;
            width: 100%;
            left: 0;
            background:#DB3138;
            transition: all 0.3s ease 0s;
        }
        &::before {
            top: 0;
        }
        &::after{
           bottom: 0;
        }
        @media (max-width:768px) {
            &._active span{
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before{
                top:45%;
                transform: rotate(-45deg);
            }
            &._active::after{
                bottom:45%;
                transform: rotate(45deg);
            }
        }
    }
}

// INTRO
.intro {
    background-image: url(../img/header-image.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
}

.intro__content {
    padding-top: 237px;
}

.intro__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 485px;
    margin: 0 auto;
    margin-bottom: 103px;

    .intro__text-title {
        font-family: 'ReformaGroteskBoldC';
        font-size: 9.375rem;
        color: #DB3138;
        line-height: 125%;
        text-align: center;
        margin-bottom: 6px;
        @media (max-width:768px) {
            font-size: 6rem;
        }
    }
    .intro__text-subtitle {
        font-family: 'ReformaGroteskMediumC';
        line-height: 120%;
        text-align: center;
        font-size: 2.5rem;
        margin: 40px 0;
        @media (max-width:768px) {
            font-size: 2rem;
        }
    }
}

// INTRO FOOTER
.intro__footer {
    display: flex;
    align-items:center;
    @media (max-width:768px) {
        flex-wrap: wrap;
    }
}
.intro__footer_card {
    border: 1px solid #898989;
    width: 100%;
    height: 214px;
    &:last-child,
    &:first-child{
        border-left: none;
    }
    @media (max-width:768px) {
        border-right: none;
        border-left: none;
        width: 100%;
    }
}
.intro__footer_card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 50px 0;

    .intro__footer_card-item-title {
        font-size: 1.125rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    .intro__footer_card-item-subtitle {
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #DB3138;
        max-width: 265px;
        padding-top: 15px;
    }
}

// ACHIEVEMENTS

.achievements__content {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 180px;
    @media (max-width:1024px) {
        flex-wrap: wrap;
        gap: 50px;
    }
}

.achievements__text {
    max-width: 636px;
    .achievements__text-title {
        font-size: 3.25rem;
        line-height: 140%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    & .page__element {
        justify-content: flex-start;
        padding: 40px 0 60px 0;
    }
    .achievements__text-subtitle {
        font-family: 'ReformaGroteskMediumC';
        font-size: 1.5rem;
        line-height: 120%;
        letter-spacing: 0.03em;
        max-width: 526px;
    }
}

.achievements__items {
    display: flex;
    align-items:center;
}
.achievements__items1,
.achievements__items2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    .achievements__items1__card,
    .achievements__items2__card {
        width: 320px;
        height: 180px;
        border: 1px solid #898989;
        padding: 25px 20px 34px 20px;
        @media (max-width:768px) {
            width: 100%;
            padding: 10px;
        }
    }
    .achievements__items1__card-title,
    .achievements__items2__card-title {
        font-size: 1.5rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #DB3138;
        margin-bottom: 22px;
    }
    .achievements__items1__card-subtitle,
    .achievements__items2__card-subtitle {
        font-size: 1rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        height: 73px;
    }
}

.achievements__items2{
    transform: translateY(35px);
}

// SLIDER

.slider{
    padding: 200px 0 180px 0;
    @media (max-width:576px) {
       padding: 100px 0;
    }
}

.slider__content{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    @media (max-width:576px) {
       display: none;
    }
}

.slider-swiper {
    width: 90%;
    height: 100%;
}

.slider-swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    .swiper-slide-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .swiper-slide-content-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 100%;
        }
        .swiper-slide-content-text {
            max-width: 244px;
            font-size: 1.125rem;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            position: relative;
            z-index: 0;
            &::before{
                position: absolute;
                content: '';
                top: -30px;
                left: -60px;
                width: 150%;
                height: 100%;
                background: #DB3138;
                z-index: -1;
            }
        }
    }
}

// advantages and 2
.advantages__content,
.advantages2__content{
    padding-bottom: 180px;
    display: flex;
    justify-content: center;
    gap: 134px;
    flex-wrap: wrap;
}

.advantages2__content{
    flex-direction: row-reverse;
}

.advantages__content__text,
.advantages2__content__text{
    width: 526px;
    display: flex;
    flex-direction: column;
    & p{
        font-family: 'ReformaGroteskMediumC';
        line-height: 120%;
        letter-spacing: 0.03em;
    }
}

.advantages__content__text-header,
.advantages2__content__text-header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & h1{
        font-size: 2rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 140%;
    }
    & img {
        margin-right: 36px;
    }
}

.advantages__content__slider,
.advantages2__content__slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages__swiper,
.advantages2__swiper{
    width: 636px;
    height: 550px;
    @media (max-width:674px) {
        width: 350px;
        height: 370px;
    }
}


.advantages__swiper-slide,
.advantages2__swiper-slide{
    .swiper-slide-img{
        max-height: 550px;
        overflow: hidden;
            & img {
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
        }
    }
}


.advantages__content__slider-footer,
.advantages2__content__slider-footer{
    margin-top: 40px;
    max-width: 636px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:674px) {
        margin-top: 0;
    }

    & p {
        max-width: 100%;
        padding: 0 35px;
        font-size: 1.125rem;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        @media (max-width:674px) {
            font-size: 10px;
        }
    }
    .prev__new,
    .prev2__new{
        min-width: 50px;
        min-height: 50px;
        border: 3px solid #DB3138;
        transform: rotate(-45deg);
        position: relative;
        cursor: pointer;
        & .prev__content img{
            position: absolute;
            top: 45%;
            left: 45%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    .next__new,
    .next2__new{
        min-width: 50px;
        min-height: 50px;
        border: 3px solid #DB3138;
        transform: rotate(-45deg);
        position: relative;
        cursor: pointer;
        & .next__content{
            position: absolute;
            top: 55%;
            left: 55%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

}

// SERVICES

.services {
    padding-bottom: 180px;
}

.services__content {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.services__content__head {
    width: 100%;
    .services__content__head-title {
        font-size: 3.25rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .services__content__head-button {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top: 60px;
        .services-btn {
            margin-right: 60px;
            // background: none;
            &:last-child{
                margin-right: 0;
            }
            &:nth-child(1){
                background:#DB3138;
                &::before{
                    background:none;
                }
            }
            &:nth-child(2){
                background:none;
                &::before{
                    background:none;
                }
            }
            &:hover{
                background:#DB3138;
            }
        }
    }
}

.services__content__items{
    padding-top: 80px;
    display: grid;
    align-items:center;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    @media (max-width: 1325px) {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr)
    }
    @media (max-width:674px) {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr)
    }
    & .services__item:hover{
        transform: translateY(-10px);
    }
}

.services__item{
    width: 306px;
    height: 428px;
    border: 1px solid #898989;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    transition: all 0.5s ease 0s;
    .services__item-img{
        width: 70px;
        height: 70px;
    }
    .services__item-title {
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 30px 0 20px 0;
    }
    .services__item-subtitle {
        width: 226px;
        font-size: 1rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    .services__item-btn {
        margin-top: 25px;
        width: 113px;
        height: 41px;
        font-size: 1.125rem;
        &::before{
            width: 50%;
        }
        &:hover::before{
            width: 100%;
        }
    }
}

// WORKS

.works__content__head {
    margin-bottom: 60px;
    .works__content__head-title {
        font-size: 3.25rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

.works__photo{
    padding-bottom: 120px;
    overflow: hidden;
    display: grid;
    align-items:center;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    @media (max-width:1296px) {
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    }
    @media (max-width:972px) {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
    .works__photo__card{
        width: 100%;
        height: 100%;
        .works__photo__card-img{
            width: 100%;
            background-repeat:no-repeat;
            background-position:center;
            background-size: contain;
        }
        @media (max-width:1296px) {
            &:nth-child(1){
                display: none;
            }
            &:nth-child(6){
                display: none;
            }
            &:nth-child(7){
                display: none;
            }
            &:nth-child(12){
                display: none;
            }
            &:nth-child(13){
                display: none;
            }
            &:nth-child(18){
                display: none;
            }
        }
        @media (max-width:972px) {
            &:nth-child(1){
                display: block;
            }
            &:nth-child(6){
                display: block;
            }
            &:nth-child(5){
                display: none;
            }
            &:nth-child(4){
                display: none;
            }
            &:nth-child(10){
                display: none;
            }
            &:nth-child(11){
                display: none;
            }
            &:nth-child(16){
                display: none;
            }
            &:nth-child(17){
                display: none;
            }
            &:nth-child(15){
                display: none;
            }
            &:nth-child(14){
                display: none;
            }
        }
    }
}

// SUPPORT

.support__content {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.support__content__text {
    margin-bottom: 60px;
    .support__content__text-title {
        font-size: 3.25rem;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

.support__content-form{
    width: 636px;
    display: grid;
    gap: 24px;
    @media (max-width: 732px) {
        width: 100%;
     }

    .form-input{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 24px;
        @media (max-width: 732px) {
           flex-direction: column;
        }

        input[type="text"] {
            width: 306px;
            height: 47px;
            padding: 15px 20px;
            border: 1px solid #898989;
            background: #141414;
            color: #FFF;
            outline: none;
            transition: all 0.5s ease 0s;
            &:hover{
                border: 1px solid #DB3138;
            }
            @media (max-width: 732px) {
                width: 100%;
             }
        }

        input[type="number"] {
            width: 306px;
            height: 47px;
            padding: 15px 20px;
            border: 1px solid #898989;
            background: #141414;
            color: #FFF;
            outline: none;
            transition: all 0.5s ease 0s;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            &:hover{
                border: 1px solid #DB3138;
            }
            @media (max-width: 732px) {
                width: 100%;
             }

        }
    }

    .form-textarea{
        display: flex;
        align-items:center;
        gap: 70px;
        @media (max-width: 732px) {
           flex-direction: column;
           gap: 20px;
         }

        textarea{
            width: 526px;
            height: 150px;
            padding: 15px 20px;
            border: 1px solid #898989;
            background: #141414;
            color: #FFF;
            outline: none;
            transition: all 0.5s ease 0s;
            resize: none;
            &::placeholder{
                text-transform: uppercase;
            }
            &:hover{
                border: 1px solid #DB3138;
            }
            @media (max-width: 732px) {
                width: 100%;
             }
        }

        .form-textarea-social {
            display: flex;
            align-items:center;
            flex-direction: column;
            gap: 15px;
            @media (max-width: 732px) {
                flex-direction: unset;
             }
            .form-textarea-social-img {
                border: 1px solid #898989;
                width: 40px;
                height: 40px;
                transition: all 0.5s ease 0s;
                cursor: pointer;
                padding: 9px;
                & a img {
                    width: 20px;
                    height: 20px;
                }
                &:hover{
                    border: 1px solid #DB3138;
                }
            }
        }

    }

    .form-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 732px) {
            flex-direction: column;
            justify-content: center;
            gap: 24px;
         }

        .form-footer-btn {
            height: 61px;
            width: 144px;

            &::before{
                width: 50%;
            }
            &:hover::before{
                width: 100%;
            }
        }

        .form-footer-location {
            display: flex;
            flex-direction: column;
            gap: 10px;
            & a {
                font-size: 1rem;
                line-height: 140%;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }

            .form-footer-location-addres {
                display: flex;
                align-items:center;
                & a{
                    margin-left: 10px;
                }
            }
        }
        .form-footer-location-half{
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            @media (max-width: 732px) {
               justify-content: space-between;
             }
        }

    }

}

// FOOTER

.footer{
    padding-top: 100px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items:center;
    @media (max-width: 1206px) {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 24px;
    }
}

.footer-designer {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 0.05em;
    opacity: 0.5;
    text-align: center;
}

.footer__menu {
    .footer__list {
        display: flex;
        align-items: center;
        & li {
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
            & .footer__link {
                font-family: 'ReformaGroteskMediumC';
                letter-spacing: 0.03em;
                transition: all 0.5s ease 0s;
                &:hover {
                    color: #DB3138;
                }
            }
        }
    }
}


